target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/intellij-client/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/intellij-client/.gradle/buildOutputCleanup/cache.properties
/intellij-client/.gradle/8.4/checksums/checksums.lock
/intellij-client/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/agent/dependency-reduced-pom.xml
/.idea/encodings.xml
/intellij-client/.gradle/8.4/executionHistory/executionHistory.bin
/intellij-client/.gradle/8.4/executionHistory/executionHistory.lock
/intellij-client/.gradle/file-system.probe
/intellij-client/.gradle/8.4/fileHashes/fileHashes.bin
/intellij-client/.gradle/8.4/fileHashes/fileHashes.lock
/intellij-client/.gradle/8.4/dependencies-accessors/gc.properties
/intellij-client/.gradle/8.4/gc.properties
/intellij-client/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/intellij-client/.gradle/8.4/fileChanges/last-build.bin
/intellij-client/.gradle/8.4/checksums/md5-checksums.bin
/.idea/misc.xml
/intellij-client/.gradle/buildOutputCleanup/outputFiles.bin
/intellij-client/.gradle/8.4/fileHashes/resourceHashesCache.bin
/intellij-client/.gradle/8.4/checksums/sha1-checksums.bin
/.idea/uiDesigner.xml
/.idea/vcs.xml
